.icon-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
}

.icon-list .icon {
    font-size: 3rem;
    color: #f1f0f0;
}

.header-icon {
    width: 90px;
    height: 90px;
    background: url('../images/header-icon.jpg') center center no-repeat;
    background-size: cover;
    border-radius: 50%;
    box-shadow:
        0 0 4px rgba(230, 252, 255, 0.4),
        0 0 12px rgba(200, 250, 255, 0.25),
        0 0 24px rgba(200, 250, 255, 0.15);
    color: #00f0ff;
    transition: transform 0.2s ease;
}

.header-icon:hover {
    transform: scale(1.05);
    box-shadow:
        0 0 6px rgba(255, 255, 255, 0.5),
        0 0 18px rgba(200, 250, 255, 0.35),
        0 0 32px rgba(180, 240, 255, 0.25);
}

/* side bar items */
.sidebar-item {
    position: relative;
    cursor: pointer;
    color: #fff;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
}

.sidebar-item:hover {
    transform: scale(1.1);

}

.hover-info-box {
    position: absolute;
    left: 60px;
    top: 0;
    width: 180px;
    height: 5rem;
    padding: 12px;
    margin: 0.1rem;
    background: #0B0E2C;
    /* border: 2px solid #a6f0ff; */
    box-shadow:
        0 0 4px rgba(230, 252, 255, 0.4),
        0 0 12px rgba(200, 250, 255, 0.25),
        0 0 24px rgba(200, 250, 255, 0.15);
    color: #131629;
    border-radius: 10px;
    color: #fff;
    animation: popup-in 0.3s ease-out forwards;
    z-index: 10;
}

.hover-info-box h4 {
    margin: 0 0 4px;
    font-size: 16px;
    color: #A5FFFF;
}

.hover-info-box p {
    margin: 0;
    font-size: 13px;
    line-height: 1.4;
    opacity: 0.8;
}

@keyframes popup-in {
    from {
        opacity: 0;
        transform: translateX(10px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}