@font-face {
  font-family: 'mulish';
  src: url('./assets/fonts/mulish/static/Dosis-Regular.ttf') format('truetype');
}

* {
  font-family: 'mulish', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}